body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   background-color: #868680;
}
.btn {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border: 10px solid black;
    display: inline-block;
    margin: 20px;
    
}

.red {
    background-color: #f99bf9;
}
.orange {
    background-color: #f99b45;
}
.blue {
    background-color: #45a1f9;
}
.green {
    background-color: #45f97c;
}
.flash {
    background-color: #ffffff !important;   /* Override color to white when flashing */
    box-shadow: 0 0 20px white; /* Add a glow effect */
}


